<div class="container">
  <%= simple_form_for @trip do |f| %>
  <%= f.input :traveller_1 %>
  <%= f.input :traveller_2 %>
  <%= f.input :traveller_3 %>
  <%= f.submit class: 'btn btn-success' %>
<% end %>
</div>
