<div class="container">
  <%= simple_form_for @trip do |f| %>
    <%= select_tag "travellers[profile_1]", options_for_select(Profile.all.collect{ |u| [u.first_name, u.id]}) %>
    <%= select_tag "travellers[profile_2]", options_for_select(Profile.all.collect{ |u| [u.first_name, u.id]}) %>
    <%= select_tag "travellers[profile_3]", options_for_select(Profile.all.collect{ |u| [u.first_name, u.id]}) %>
    <%= f.submit class: 'btn btn-success' %>
  <% end %>
</div>
