<%= content_for(:navbar_class, "navbar-home") %>

<div class="white-wrapper">
  <div class="home-made-banner">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12-12 col-md-8">
        <div class="page-title">
          <i class="fas fa-quote-left"></i>
          <h1>Add your friends to your trip</h1>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="for_render_form">
          <%= render '/shared/form_usersearch' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 anotherclassforstyle-left">
        <i class="fas fa-users"></i>
        <ul class="list-profiles trip-creator-col">
          <% @profiles.each do |profile| %>
            <div class="profile-card">
              <li class="list-profiles">
                <div class="info-user">
                  <div class="profil_avatar_photo">
                    <% if !profile.user.photo_url.nil? %>
                      <%= cl_image_tag(profile.user.photo, class: 'avatar',
                      width: 50, height: 50, crop: :thumb, gravity: :face) %>
                    <% else %>
                      <%= image_tag 'avatar-new-trip.png', class: 'avatar' %>
                    <% end %>
                  </div>
                  <div class="user-name">
                    <p><%= profile.first_name%> <%= profile.last_name %></p>
                  </div>
                  <div class="user-city">
                    <% if !profile.city.nil? %>
                      <h5> from <%= profile.city.split(",")[0] %></h5>
                    <% end %>
                  </div>
                  <div class="form-action">
                    <form action=<%= add_travellers_path %>>
                      <% if @trip %>
                        <input type="hidden" name="trip" value=<%= @trip.id %>>
                      <% end %>
                      <input type="hidden" name="profile" value=<%= profile.id %>>
                      <button type="submit" class="btn-small">
                        <i class="fas fa-plus"></i>
                      </button>
                    </form>
                  </div>
                </div>
              </li>
            </div>
          <% end %>
        </ul>
      </div>
      <div class="col-xs-12 col-md-6 anotherclassforstyle-right">
        <i class="fas fa-suitcase"></i>
        <ul class="list-profiles-right trip-creator-col">
          <% if !@travellers.nil? %>
            <% @travellers.each do |t| %>
              <div class="profile-card">
                <li class="list-profiles">
                  <div class="info-user">
                    <div class="profil_avatar_photo">
                      <% if !t.profile.user.photo_url.nil? %>
                        <%= cl_image_tag(t.profile.user.photo, class: 'avatar',
                        width: 50, height: 50, crop: :thumb, gravity: :face) %>
                      <% else %>
                        <%= image_tag 'avatar-new-trip.png', class: 'avatar' %>
                      <% end %>
                    </div>
                    <div class="user-name">
                      <%= t.profile.first_name %>
                      <%= t.profile.last_name %>
                    </div>
                    <div class="user-city">
                      <h5> from <%= t.profile.city.split(",")[0] %></h5>
                    </div>
                    <form action=<%= delete_travellers_path %>>
                      <input type="hidden" name="trip" value=<%= @trip.id %>>
                      <input type="hidden" name="traveller" value=<%= t.id %>>
                      <button type="submit" class="btn-small">
                      <i class="fas fa-minus"></i>
                      </button>
                    </form>
                  </div>
                </li>
              </div>
            <% end %>
          <% end %>
        </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="onboard">
          <% if !@travellers.nil? %>
            <%= link_to trip_path(:id => @trip.id, :travellers => @travellers.pluck('id')), class: 'btn-med' do %>
              <i class="fas fa-check"></i> Get on board
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
