<%= content_for(:navbar_class, "navbar-home") %>
<div class="white-wrapper">
  <div class="banner-city">
    <%= image_tag "https://kitt.lewagon.com/placeholder/cities/berlin", class: "image-city"%>
  </div>
  <div class="container text-center">
    <h1><%= @trip.destination %></h1>
  </div>
  <div
  id="map"
  data-markers="<%= @markers.to_json %>"
  ></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <% @travellers.each do |traveller| %>
          <div class="horizontal-card background-ticket">
            <div class="trip-detail-title">
              <h2>
                From
                <%= Profile.find(traveller.profile_id).city  %>
                to
                <%= @trip.destination %>
              </h2>
            </div>
            <div class="trip-detail-content">

            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
