<div class="white-wrapper display-flex">
  <div id="map"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="city-card-content">
            <div class="city-card" style="background-image: linear-gradient(150deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(<%= asset_url('paris')%>)">
              <div class="city-name">
                <p> You will meet in <p>
                <h3>Paris</h3>
              </div>
            </div>
            <div class="trip-details">
              <% if !@ways.nil? %>
                <% @ways.each do |way| %>
                  <div class="trip-detail-content">
                    <% profile = Profile.find((Traveller.find(way.traveller_id)).profile_id) %>
                    <div class="traveller">
                      <div class ="traveller-name">
                        <h5><strong><%= profile.first_name %> <%= profile.last_name %></strong></H5>
                        <div class="traveller-info">
                          <div class="travel-type">
                            <p><%= way.content %></p>
                          </div>
                          <div class="travel-time-price"></div>
                            <p><%= way.travel_time %> m  / <strong><%= way.price %> $</strong></strong></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <end>
              <end>
              <div class="save-trip">
                <%= link_to "Save trip", "" ,class: "btn-save" %>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


