<%= content_for(:link_class, "navbar-travel") %>

<div class="white-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <% if @trip.destination.nil? %>
          <div class="city-card-content">
            <div class="city-card" style="background-image: linear-gradient(150deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(<%= asset_url('montagne.jpg')%>)">
              <div class="city-name">
                <p> Your next destination is <p>
                <h3>...</h3>
              </div>
            </div>
            <div class="trip-details">
            </div>
            <div class="save-trip">
              <%= link_to "Save trip", dashboard_path ,class: "btn-save" %>
            </div>
          </div>
        <% else %>
          <div class="city-card-content">
            <div class="city-card" style="background-image: linear-gradient(150deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(<%= asset_url("#{@trip.destination.downcase}.jpg")%>)">
              <div class="city-name">
                <h3><%= @trip.destination %></h3>
              </div>
            </div>
            <div class="trip-details">
              <% @travellers.each do |t| %>
                <% t.ways.each do |way| %>
                  <div class="trip-detail-content">
                    <div class="traveller-info">
                      <div class="traveller-name">
                        <h5><strong><%= way.traveller.profile.first_name %> <%= way.traveller.profile.last_name %></strong></h5>
                      </div>
                      <div class="travel-type">
                        <% if way.content.include?("Fly") %>
                          <p><%=  (way.departure_city).split(",")[0] %> </p><i class="fas fa-plane"></i>
                          <p> <%=  way.arrival_city%> </p>
                        <% else %>
                          <p><%=  (way.departure_city).split(",")[0] %> </p><i class="fas fa-subway"></i>
                          <p> <%=  way.arrival_city%> </p>
                        <% end %>
                      </div>
                    </div>
                    <div class="travel-time-price">
                      <p><i class="fas fa-clock"></i> <%= way.travel_time %> /
                      <i class="fas fa-money-bill-wave-alt"></i> <%= way.price %> €</p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
            <div class="save-trip">
              <%= link_to "Save trip", dashboard_path ,class: "btn-save" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-8">
        <div
          id="map"
          data-markers="<%= @markers.to_json %>"
        ></div>
      </div>
    </div>
  </div>
</div>
