<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-login">
        <h2>Sign up</h2>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
            <div class="form-inputs">
              <div class="form-row">
                <div class="form-group col-sm-6 ">
                  <%= f.input :first_name, required: true, autofocus: true ,input_html: { autocomplete: "first_name" }%>
                </div>
                <div class="form-group col-sm-6 ">
                  <%= f.input :last_name, required: true, autofocus: true ,
                    input_html: { autocomplete: "last_name" }%>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-sm-6 ">
                  <%= f.input :city, required: true, autofocus: true , input_html: { autocomplete: "city" }%>
                </div>
                <div class="form-group col-sm-6 ">
                  <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" }%>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-sm-6 ">
                  <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
                </div>
                <div class="form-group col-sm-6 ">
                  <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" } %>
                </div>
              </div>
              <div class="hidden">
                <%= f.input :photo, input_html: {class: "test"} %>
                <%= f.error_notification message: 'Something went wrong' %>
                <%= f.input :photo_cache, as: :hidden %>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="photo-loader-container">
              <button id="photo-loader">Add a photo</button>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Sign up", class: "btn-med devise-submit-btn" %>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>











