<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>Travel Share</h1>
    <h2>travel and meet your friends</h2>
    <%= link_to "Start now", dashboard_path, class: "btn btn-lg btn-home"  %>
  </div>
</div>
<div class="white-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="simple-card">
          <div class="simple-card-icon">
            <%= image_tag "user-icon.png", class:"user-icon" %>
          </div>
          <div class="simple-card-content">
            <h3>Invite your Friends</h3>
            <p>
              Create a profil and invite your friends on a trip
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="simple-card">
          <div class="simple-card-icon">
            <%= image_tag "user-icon.png", class:"user-icon" %>
          </div>
          <div class="simple-card-content">
            <h3>Find the Best Match</h3>
            <p>Let's us find the best place for you and your friends to meet!</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="simple-card">
          <div class="simple-card-icon">
            <%= image_tag "user-icon.png", class:"user-icon" %>
          </div>
          <div class="simple-card-content">
            <h3>Book your trip</h3>
            <p>We give you the informations that you nedd for book the trip.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="horizontal-card border-left">
          <div class="horizontal-card-content">
            <h4>What they think about</h4>
            <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500.</p>
          </div>
          <div class="horizontal-card-photo">
            <%= image_tag "card-image-1.jpg", class:"image-card-right" %>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="horizontal-card border-right">
          <div class="horizontal-card-photo">
            <%= image_tag "card-image-2.jpg", class:"image-card-left" %>
          </div>
          <div class="horizontal-card-content">
            <h4>What they think about</h4>
            <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
