<div class="white-wrapper">
  <div class="container">
    <h2>Your trips saved:<h2>
    <div class="row">
      <% @trips.each do |trip| %>
        <div class="col-xs-12 col-sm-4">
          <div class="city-card-content">
            <div class="city-card">
              <%= image_tag "paris.jpg", class: "image-city"%>
              <div class="card-category"><p><strong>Go to <%= trip.destination %></strong><p></div>
            </div>
            <div class="trip-details">
              <% @travellers.each do |traveller| %>
                <% traveller.ways.each do |way| %>
                  <div class="avatar">
                    <%= cl_image_tag current_user.photo, class: "avatar" %>
                  </div>
                  <div class="name-time">
                    <h3><%= traveller.profile.first_name %> <%= traveller.profile.last_name %></h3>
                    <p>Trip: <%= way.travel_time %></P>
                  </div>
                  <div class="travel-price">
                    <h3><%= way.content %></h3>
                    <p><%= way.price %> €</p>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
